/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{background: #fff;}
body > main.container {
  padding: 20px 0px 30px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body > main.container > section.app-view {
   width: 60%;
   background: #18204A;
   padding: 20px 10px;
}
body > main.container > section.app-view > h1 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 2.5em;
  text-shadow: 2px 2px 5px #000;
}
body > main.container > section.app-view > div.budget-date-update {
  color: #fff;
  padding: 10px 0px;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.4em;
  margin-bottom: 10px;
}
body > main.container > section.app-view > section.budget-info-holder > div.budget-inc-exp-bal-holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  font-size: 1.4em;
  text-transform: uppercase;
  padding: 10px 0px;
}
.budget-cap{color: #fff;padding: 0px 5px;}
body > main.container > section.app-view > section.addExp-addIcome-Holder{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 0px;
  justify-self: center;
  gap: 20px;
}
div.add-budget{
  background: #1F2C5B;
  text-align: center;
  color: #fff;
  padding: 20px 0px;
}
div.add-budget > label {font-size: 1.4em;}
div.add-budget > div.inputHolder {
  padding: 20px 10px;
  display: grid;
  grid-template-columns: 100%;
  row-gap: 20px;
}
div.add-inco-holder{height: 200px !important;}
input.txt{font-size: 1.2em; padding: 10px 5px;}
button.btn{
  padding: 15px 10px;
  cursor: pointer;
  background: #17204A;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2em;
  border: none;
  outline: none;
}
h1#table-cap{
  text-align: center;
  text-transform: uppercase; 
  color: #fff; 
  padding: 20px 0px; 
  text-shadow: 2px 2px 2px #000;
}
table{width: 100%;color: #fff;}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px 10px;
}
th{text-transform: capitalize;text-align: left;}

@media screen and (max-width: 299px) and (min-width: 200px) {
  *{font-size: 1em !important;}
  body{background: #18204A;}
  body > main.container > section.app-view { width: 90%;}
 body > main.container > section.app-view > section.budget-info-holder > div.budget-inc-exp-bal-holder {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: start;
  column-gap: 8px;
  font-size: 0.8em !important;
}
  body > main.container > section.app-view > section.addExp-addIcome-Holder{
    display: grid;
    grid-template-columns: 100%;
  }
  div.add-budget > div.inputHolder {
    display: grid;
    grid-template-columns: 100%;
    padding: 10px 5px;
  }
  div.add-budget{padding: 10px 0px;}
  div.add-inco-holder{height: auto !important;}
  input.txt{font-size: 1.2em; padding: 4px 2px;}
  button.btn{padding: 10px;}
  h1#table-cap,body > main.container > section.app-view > h1{letter-spacing: 2.5px;}
}

@media screen and (max-width: 1000px) and (min-width: 300px) {
  *{font-size: 1em !important;}body{background: #18204A;}
  body > main.container {padding: 0px 0px 30px 0px;}
  body > main.container > section.app-view {width: 100%;}
  body > main.container > section.app-view > section.budget-info-holder > div.budget-inc-exp-bal-holder {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
  }
  body > main.container > section.app-view > section.addExp-addIcome-Holder{
    display: grid;
    grid-template-columns: 100%;
  }
  div.add-budget > div.inputHolder {
    display: grid;
    grid-template-columns: 100%;
    padding: 10px 20px;
  }
  div.add-inco-holder{height: auto !important;}
  input.txt{font-size: 1.2em; padding: 4px 8px;}
  button.btn{padding: 10px 40px; margin-top: 1.6em;}
  h1#table-cap,body > main.container > section.app-view > h1{letter-spacing: 2.5px;}
  .app-caption{padding: 30px 0px;}
  body > main.container > section.app-view > div.budget-date-update {margin-bottom: 0px; padding: 0px 0px; }
  .table-holder{background: green !important;overflow-x: scroll;}
}
button#btn-print{font-size: 1.4em; cursor: pointer;padding: 10px 15px; background: #1F2C5B; color: #fff; width: 20%; letter-spacing: 2px; border: none;}